:root {
  --red: #ff0000;
}

body {
  margin: 0;
  padding: 0;
}

.heart {
  position: relative;
  background-color: #fff;
  width: 512px;
  height: 512px;
}

.heart__shape {
  position: absolute;
  width: 234px;
  height: 234px;
  background-color: var(--red);
}

.heart__shape--circle {
  border-radius: 50%;
}

.heart__shape--left {
  top: 0;
  left: 0;
  transform: translate(25%, 25%);
}

.heart__shape--right {
  top: 0;
  right: 0;
  transform: translate(-25%, 25%);
}

.heart__shape--square {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
